<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944321296599-mabmvajjikumcbqo3kn9ts09203fub94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944321296599-mabmvajjikumcbqo3kn9ts09203fub94</string>
	<key>API_KEY</key>
	<string>AIzaSyDRUtHv02CI-Ots9Xy3SBKVesQoHf-ts-A</string>
	<key>GCM_SENDER_ID</key>
	<string>944321296599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exploreUganda</string>
	<key>PROJECT_ID</key>
	<string>explore-uganda-13576</string>
	<key>STORAGE_BUCKET</key>
	<string>explore-uganda-13576.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944321296599:ios:1dc4c976ac18ea707d5892</string>
</dict>
</plist>